body{
    background-color: rgb(27, 27, 30);
}



#logout-btn{
    border: none;
    border-radius: 12px;
    background-color: rgb(57, 172, 22);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    color:white;
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-top: 18px;
    margin-right: 10px;
    cursor: pointer;
    
}

#welcome{
    flex: 10;
}

#page-header{
    background-color: rgb(14, 13, 13);
    height: 10%; 
    margin-left: -8px; 
    margin-right: -8px; 
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
} 

#dropdown-menu{
    flex: 1;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 90px;
    vertical-align: middle;
    color: white;
    background: rgb(14, 13, 13);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.dropdown-content{
    cursor: pointer;
    background: rgb(14, 13, 13);
    display: none;
    position: relative;
    min-width: 160px;
    z-index: 1;
    left: 0;
    font-weight: normal;
    font-size: medium;
}

#dropdown-menu li{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    list-style-type: none;
}

#dropdown-menu ul{
    margin: 0;
    padding: 0;
}

#dropdown-menu:hover .dropdown-content{
    display: block;
}

#dropdown-menu li:hover{
    background: #3d3d3d;
}

.dropdown-content.menu-rtl{
    float: right;
}

.dropdown-content a{
    color: white;
    text-decoration: none;
}

#page-content{
    margin: 5% 5%;
}

.header-content{
    color: white;
    text-align: center;
    font-size: larger;
    font-family:'Courier New', Courier, monospace;
}


#name{
    line-height: inherit;
    display: inline-block;
    flex: 2;
}

#number{
    line-height: inherit;
    top: 3%;
    right: 20%;
    display: inline-block;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#email{
    line-height: inherit;
    top: 3%;
    right: 1%;
    display: inline-block;

    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.container{
    display: flex;
    height: 80%;
}

.container .section{
    align-items: center;
    /* border: 0px solid rgb(14, 13, 13); */
    margin: 4% 20px;
    width: 100%;
    height: 90%;
    border-radius: 12px;
    background-color: #3d3d3d;
    transition: all .2s ease-in-out; 
    

}

.container .section:hover{ 
    transform: scale(1.1);
    /* padding-bottom:100px;
    margin-bottom:-100px; */
}

#section1{
    box-shadow: rgba(227, 23, 10, 0.4) -5px 5px, rgba(227, 23, 10, 0.3) -10px 10px, rgba(227, 23, 10, 0.2) -15px 15px, rgba(227, 23, 10, 0.1) -20px 20px, rgba(227, 23, 10, 0.05) -25px 25px;
}

#section2{
    box-shadow: rgba(246, 174, 45, 0.4) 0px 5px, rgba(246, 174, 45, 0.3) 0px 10px, rgba(246, 174, 45, 0.2) 0px 15px, rgba(246, 174, 45, 0.1) 0px 20px, rgba(246, 174, 45, 0.05) 0px 25px;

}

#section3{    
    box-shadow: rgba(35, 87, 137, 0.4) 5px 5px, rgba(35, 87, 137, 0.3) 10px 10px, rgba(35, 87, 137, 0.2) 15px 15px, rgba(35, 87, 137, 0.1) 20px 20px, rgba(35, 87, 137, 0.05) 25px 25px;
}

#page-content{
    margin: 5% 5%;
}

.container-title{
    height: 10%;
    width: 60%;
    margin: auto;
    margin-top: 5%;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    text-align: center;
}

#container-title1{
    background-color: rgb(227, 23, 10) ;
}

#container-title2{
    background-color: rgb(246, 174, 45);
}

#container-title3{
    background-color: rgb(35, 87, 137) ;
}

.title{
    text-align: center;
    top: 25%;
    position: relative;
    color: rgb(245, 245, 245);
    font-family:Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
}

.section-content{ 
    height: 22.5%;
    width: 90%;
    margin: 5% 5%;
    font-size: 11.5pt;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
}

.date{
    float: right;
    overflow: hidden;
    font-size: 11pt;
    margin-top: 5px;
}

.section-content-title{
    margin-top: 7px ;
    font-size: medium;
    display: inline-block;
}

.content{
    padding-top: 5px;
}

.yellow-line{
    height: 2px;
    background-color: rgb(246, 174, 45);
    border: none;
}

.red-line{
    height: 2px;
    background-color: rgb(227, 23, 10);
    border: none;
}

.blue-line{
    height: 2px;
    background-color: rgb(35, 87, 137);
    border: none;
}

ul{
    margin: 2px;
}

.image{
    height: 250px;
    width: 250px;
    margin: auto;
    display: block;

}

img{
    height: auto;
}

.button {
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: auto;
    margin-top: 10%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
    height: 20%;
    width: 50%;
  }

#button1{
    background-color:rgb(227, 23, 10 ) ;
}

#button1:hover{
    background-color: rgb(129, 14, 6) ;
}

#button2{
    background-color: rgb(246, 174, 45);
}

#button2:hover{
    background-color: rgb(174, 125, 33);
}

#button3{
    background-color:rgb(35, 87, 137);
}

#button3:hover{
    background-color: rgb(24, 62, 97);
}
