body{
    background-color: rgb(27, 27, 30);
}

#page-header{
    background-color: rgb(14, 13, 13);
    height: 10%; 
    margin-left: -8px; 
    margin-right: -8px; 
    position: fixed; 
    top: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
} 

#dropdown-menu{
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 90px;
    vertical-align: middle;
    color: white;
    background: rgb(14, 13, 13);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.dropdown-content{
    cursor: pointer;
    background: rgb(14, 13, 13);
    display: none;
    position: relative;
    min-width: 160px;
    z-index: 1;
    left: 0;
    font-weight: normal;
    font-size: medium;
}

#dropdown-menu li{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    list-style-type: none;
}

#dropdown-menu ul{
    margin: 0;
    padding: 0;
}

#dropdown-menu:hover .dropdown-content{
    display: block;
}

#dropdown-menu li:hover{
    background: #26416a;
}

.dropdown-content.menu-rtl{
    float: right;
}

.dropdown-content a{
    color: white;
    text-decoration: none;
}

#page-content{
    margin: 5% 5%;
}

.header-content{
    color: white;
    text-align: center;
    font-size: larger;
    font-family:'Courier New', Courier, monospace;
    display: flex;
}


#name{
    line-height: inherit;
    display: inline-block;
    padding-top: 1.5%;
    margin-left: 25px;
}

#number{
    line-height: inherit;
    top: 3%;
    right: 20%;
    margin-left:55% ;
    display: inline-block;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#email{
    line-height: inherit;
    top: 3%;
    right: 1%;
    display: inline-block;
    margin-left: 2%;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.section{
    margin: auto;
    margin-top: 8%;
    width: 75%;
    height: 75%;
    border-radius: 12px;
    background-color: #3d3d3d;
    transition: all .2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.section:hover{ 
    transform: scale(1.1);
    /* padding-bottom:100px;
    margin-bottom:-100px; */
}


.container-title{
    height: 10%;
    width: 60%;
    margin: auto;
    margin-top: 5%;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    text-align: center;
    position: relative;
    top: 5%;
    background-color: rgb(57, 172, 22);
}


.title{
    text-align: center;
    top: 25%;
    position: relative;
    color: rgb(245, 245, 245);
    font-family:Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
}

.section-content{ 
    height: 22.5%;
    width: 90%;
    margin: 12.5% 5%;
    font-size: xx-large;
    text-align: center;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

